.about-main-container{
    background-image: url('../assets/cloudsbg.svg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: repeat-x;
    padding-bottom: 200px;
}
.about-container{
    background-color: white;
    padding: 96px 32px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
.about-main-text{
    color: #257EAA;
    font-size: 30px;
    margin-bottom: 20px;
}
.about-para-text{
    font-size: 16px;
    color: #374151;
    text-align: left !important;
}
@media only screen and  (min-width:2500px){
    .main-container{
        background-size: cover;
    }
    }
@media only screen and  (max-width:496px){
    .about-container{
        padding: 50px 20px;
    }    
    }

    