.top-left {
  position: absolute;
  top: 8px;
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.header-content {
  height: 500px;
  position: relative;
  padding: 0px !important;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-content .header_container li {
  color: white !important;
}
.header-content .header_container li a {
  color: white !important;
}

.menu-color-change {
  background-color: white !important;
}
.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0d2f4098, rgba(255, 255, 255, 0.208) 200%);
    position: absolute;
    top: 0px;
}

@media only screen and (max-width: 1020px) {
  .page-name {
    font-size: 48px;
  }
}

@media only screen and (max-width: 642px) {
  .bottom-left {
    font-size: 36px;
  }
  .header-content {
    height: 284px;
  }
}
